<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Home</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data position-absolute d-flex justify-content-center">
      <div class="card rounded mx-auto d-block">
        <img src="..." class="" alt="...">
        <div class="card-body">

          <a href="#" class="btn btn-primary">Go somewhere</a>

        </div>
      </div>
      <div class=" rounded mx-auto d-block ">
        <img src="..." class="rounded mx-auto d-block" alt="...">
        <div class="card-body">

          <a href="#" class="btn btn-primary">Go somewhere</a>

        </div>
      </div>

    </div>
  </div>
</div>
